<!DOCTYPE HTML>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Bookings</title>
    </head>
    <body>
    <h1> Booked Appointment List </h1>
    <table >
    ['<tr><th>Id</th><th>First Name</th><th>Last Name</th><th>Sex</th><th>Mobile</th><th>CNIC</th><th>Email</th><th>Department</th><th>Doctor</th><th>Time</th><th>Date</th></tr>', '<tr><td>0</td>', '<td>Areesha</td>', '<td>Maqsood</td>', '<td>Female</td>', '<td>03335718420</td>', '<td>374058085213</td>', '<td>i180600@nu.edu.pk</td>', '<td>Neurology</td>', '<td>Dr. Amna</td>', '<td>9:30</td>', '<td>2021-05-27</td></tr>']
    </table>
    <br>
    <form action="delete" method="POST">
        Name: <input type="text" name="fname" />
        <input type="button" value="submit"/>
    </form>
    </body>
    </html>
    